.header {
    background-color: #B0FFED  ;
    text-align: center;
}

.content {
    min-height: 700px;
    background-color: #BEEFED    ;
}

h2 {
    color: #FFFFFF;
    font-family: Georgia, sans-serif;
    font-size: 40px;
}